<p>details-recipe works!</p>


    <div class="container py-5">
  <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
    <div class="row g-0">
      
      <!-- תמונה -->
      <div class="col-md-5 bg-light">
        <img [src]="getImageUrl(recipe.pic)" class="card-body" 
 alt="{{ recipe.name }}">
      </div>

      <!-- פרטים -->
      <div class="col-md-7 p-4">
        <h2 class="fw-bold">{{ recipe.name }}</h2>
        <p class="text-muted">{{ recipe.description }}</p>

        <div class="row mb-3">
          <div class="col-6 mb-2"><i class="bi bi-star-fill text-warning"></i> <strong>Level:</strong> {{ recipe.level }}</div>
          <div class="col-6 mb-2"><i class="bi bi-clock text-primary"></i> <strong>Duration :</strong> {{ recipe.duration }}</div>
          <div class="col-6 mb-2"><i class="bi bi-people-fill text-success"></i> <strong>Amount:</strong> {{ recipe.amount }}</div>
        </div>

        <hr>

        <h5 class="fw-semibold mt-3">📝 Instructions </h5>
        <p *ngIf="recipe.instructions && arr.length" [innerHTML]= "recipe.instructions | instructions:arr"></p>



        <div class="mt-4">
          <button class="btn btn-outline-primary me-2" routerLink="/home">
            🔙 חזור לרשימה
          </button>
          <a class="btn btn-success"  >
            💾 שמור מתכון
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- מצרכים -->
  <div class="card shadow-sm border-0 mt-5 rounded-4">
    <div  class="card-header bg-info bg-gradient text-white fw-bold">
      🧂 מצרכים למתכון
    </div>
<ul class="list-group list-group-flush">
  @for (ingredient of arr; track $index) {
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="bi bi-dot text-info me-2"></i>
        <span class="fw-semibold">{{ ingredient.name }}</span>
      </div>
      <div class="text-end">
        <label class="form-label m-0 text-muted small">כמות</label>
        <p class="m-0">{{ ingredientAmounts[ingredient.id] }}</p>
      </div>
    </li>
  }
</ul>

  </div>
</div>


